<!-- <nav class="navbar navbar-expand-lg ">
  <%= image_tag('GPS_logo.png', style: 'height:40px;width:auto;') %>
  <button class="navbar-toggler custom" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto"></ul>
    <span class="navbar-text mr-3 float-right">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link link-normal" href="#">Programs <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-normal" href="#"><i class="fas fa-heart"></i> Wishlist</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-normal" href="#">Sign In</a>
        </li>
        <li class="nav-item ">

          <p class="nav-link" href="#" >
            <%= image_tag('GPS_logo.png', style: 'height:32px;width:auto;') %>
+7 926 8483483
          </p>

        </li>
      </ul>
    </span>
    </div>
</nav> -->

<div class="d-flex flex-column flex-md-row align-items-center p-4 px-md-4 bg-white ">
  <h5 class="my-0 mr-md-auto font-weight-normal"><%= image_tag('GPS_logo.png', style: 'height:35px;width:auto;margin-top:-10px;') %></h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="#">Programs</a>
    <a class="p-2 text-dark" href="#"><i class="fas fa-heart"></i> Wishlist</a>
    <a class="p-2 text-dark" href="#">Sign In</a>
    <a class="p-2 text-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">En</a>
    <div class="dropdown-menu p-1 text-muted" style="max-width: 200px;">
      <p class="dropdown-item mb-0">Pick your language.</p>
      <a class="dropdown-item" href="#">Ru</a>
    </div>
    <%= image_tag('us-01.png', style: 'height:20px;width:auto;margin-top:-3px;margin-right:5px;') %>
    <p class="float-right">+ 1 844 311 3006</p>
  </nav>
  <!-- <a class="btn btn-outline-primary" href="#">Sign up</a> -->
</div>


<div class="container-fluid">
<div class="row">
  <div class="jumbotron jumbotron-fluid jumbo-pages-round tinted-image">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <h1 class="text-center mt-4 mb-3 text-white">
            <strong>Search and book sport camps abroad</strong>
          </h1>
        </div>
      </div>
        <div class="row">
          <div class="col-12 col-sm-10 offset-sm-1 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-4 col-xl-4">
                <div class="dropdown mb-2">
                  <button class="btn btn-secondary dropdown-main-style" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Football <i class="fas fa-chevron-down float-right" style="margin-top:5px;margin-right:5px;"></i>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-4 col-xl-4">
                <div class="dropdown mb-2">
                  <button class="btn btn-secondary  dropdown-main-style" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    United Kingdom <i class="fas fa-chevron-down float-right" style="margin-top:5px;margin-right:5px;"></i>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-4 col-xl-4">
                <button type="button" class="btn btn-primary search-main-style mb-2">Search</button>
              </div>
            </div>
            <!-- <div class="d-flex justify-content-center">


            </div> -->
          </div>
        </div>
    </div>
  </div>
</div>
</div>
<div class="container">
  <div class="row mt-3">
    <div class="col-12 col-sm-12 col-md-4 col-xl-4">
      <div class="card card-offers p-2">
        <h5 class="mb-4"><strong><i class="fas fa-dollar-sign"></i> Best prices</strong></h5>
        <p class="text-muted">Our prices for sports programs are cheaper than when ordering directly in sports camps.</p>
        <button type="button" class="btn btn-link d-inline-flex">Learn more ></button>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-4 col-xl-4">
      <div class="card card-offers p-2">
        <h5 class="mb-4"><strong><i class="fas fa-globe"></i> Best programs from around the world</strong></h5>
        <p class="text-muted">We cooperate only with the organizers of high-quality sports camps and programs.</p>
        <button type="button" class="btn btn-link d-inline-flex">Explore our programs ></button>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-4 col-xl-4">
      <div class="card card-offers p-2">
        <h5 class="mb-4"><strong><i class="fas fa-phone"></i> Full support</strong></h5>
        <p class="text-muted">We help athletes at all stages of participation in the sports program.</p>
        <button type="button" class="btn btn-link d-inline-flex">Contact us ></button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mt-5">
    <div class="col">
      <h4 class="section-title title-color"><strong>Europe’s camps for this summer</strong></h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
      <div class="card bg-dark text-white card-field-main mt-3">
        <%= image_tag('swimming.jpg', class: "card-commutity-img-planetome") %>
      </div>
      <div class="row">
        <div class="col">
          <p class="mb0px text-muted text-12 mt-2 mb-1"><strong><span class="sport-tag">SWIMMING</span></strong> • Mallorca, Spain</p>
          <h6 class="mb0px"><strong>Summer Swimming Camp in Mallorca</strong></h6>
          <p class="mb0px"> 800 EUR for 1 week</p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
      <div class="card bg-dark text-white card-field-main mt-3">
        <%= image_tag('tennis.jpg', class: "card-commutity-img-planetome") %>
      </div>
      <div class="row">
        <div class="col">
          <p class="mb0px text-muted text-12 mt-2 mb-1"><strong><span class="sport-tag">TENNIS</span></strong> • London, England</p>
          <h6 class="mb0px"><strong>Elite Tennis Academy</strong></h6>
          <p class="mb0px"> 825 GBP for 1 week</p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
      <div class="card bg-dark text-white card-field-main mt-3">
        <%= image_tag('football.jpg', class: "card-commutity-img-planetome") %>
      </div>
      <div class="row">
        <div class="col">
          <p class="mb0px text-muted text-12 mt-2 mb-1"><strong><span class="sport-tag">FOOTBALL</span></strong> • Athens, Greece</p>
          <h6 class="mb0px"><strong>GPS International Soccer Academy in Greece</strong></h6>
          <p class="mb0px"> 34.700 EUR for 21+ week</p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
      <div class="card bg-dark text-white card-field-main mt-3">
        <%= image_tag('swimming.jpg', class: "card-commutity-img-planetome") %>
      </div>
      <div class="row">
        <div class="col">
          <p class="mb0px text-muted text-12 mt-2 mb-1"><strong><span class="sport-tag">SWIMMING</span></strong> • Mallorca, Spain</p>
          <h6 class="mb0px"><strong>Summer Swimming Camp in Mallorca</strong></h6>
          <p class="mb0px"> 800 EUR for 1 week</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <button type="button" class="btn btn-link d-inline-flex">Discover 456 more ></button>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col">
      <h4 class="section-title title-color"><strong>Featured sports</strong></h4>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
      <div class="card bg-dark text-white card-field-main text-center mt-3">
        <%= image_tag('football.jpg', class: "card-field-img") %>
        <div class="card-img-overlay">
          <h5 class="card-title card-title-field text-bold text-17 text-white-shadow mt-1">Football</h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
      <div class="card bg-dark text-white card-field-main text-center mt-3">
        <%= image_tag('swimming.jpg', class: "card-field-img") %>
        <div class="card-img-overlay">
          <h5 class="card-title card-title-field text-bold text-17 text-white-shadow mt-1">Swimming</h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
      <div class="card bg-dark text-white card-field-main text-center mt-3">
        <%= image_tag('tennis.jpg', class: "card-field-img") %>
        <div class="card-img-overlay">
          <h5 class="card-title card-title-field text-bold text-17 text-white-shadow mt-1">Tennis</h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
      <div class="card bg-dark text-white card-field-main text-center mt-3">
        <%= image_tag('cycling.jpg', class: "card-field-img") %>
        <div class="card-img-overlay">
          <h5 class="card-title card-title-field text-bold text-17 text-white-shadow mt-1">Cycling</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col">
      <button type="button" class="btn btn-link d-inline-flex">Explore all 35 sports ></button>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col">
      <h4 class="section-title title-color"><strong>Get to know the process</strong></h4>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12 col-sm-12 col-md-6  col-lg-6">
      <div class="card card-offers mb-3">
        <h5 class=" text-17"><strong>1. Choose a relevant sports program and book it.</strong></h5>
        <p class="mb0px text-15 text-muted">Pay a deposit . You have three days to cancel a booking and receive the deposit in full.</p>
      </div>
      <div class="card card-offers mb-3">
        <h5 class=" text-17"><strong>2. Get confirmation on your booking.</strong></h5>
        <p class="mb0px text-15 text-muted">It usually takes 12-36 hours for the sports camp or academy to successfully confirm your booking.</p>
      </div>
      <div class="card card-offers mb-3">
        <h5 class=" text-17"><strong>3. Pay for your programm.</strong></h5>
        <p class="mb0px text-15 text-muted">Pay the remainder of the price by the deadline set forth for the program.</p>
      </div>
      <div class="card card-offers mb-3">
        <h5 class=" text-17"><strong>4. Get your visa and flight ready.</strong></h5>
        <p class="mb0px text-15 text-muted">And wait for the program to start.</p>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6  col-lg-6">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <br>
  <div class="row mt-5">
    <div class="col">
      <h4 class="section-title text-center title-color"><strong>Need any assistance?</strong></h4>
      <p class="mb0px text-15 text-center text-muted">Let us know and we will be in touch shortly</p>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <form>
        <div class="form-group">
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Your name">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Phone number">
        </div>
        <div class="form-group">
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Submit</button>

        <p class="mb0px text-15 mt-2 text-muted">By sending you agree to our Privacy Policy regulations and to and Terms of Service.</p>
      </form>
    </div>

  </div>



</div>

<footer class="container mt-5 py-5">
  <div class="row">
    <div class="col-12 col-md">
      <%= image_tag('GPS_logo.png', style: 'height:40px;width:auto;') %>
      <small class="d-block mt-2 mb-3 text-muted">We make camps accessible. <br>
        2019 &copy; All rights reserved. Go Sport Inc.</small>
        <a class="text-muted" href="#"><i class="fab fa-facebook-square"></i></a>
        <a class="text-muted" href="#"><i class="fab fa-vk"></i></a>
        <a class="text-muted" href="#"><i class="fab fa-instagram"></i></a>
        <a class="text-muted" href="#"><i class="fab fa-youtube"></i></a>
    </div>
    <div class="col-6 col-md">
      <h5>About us</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">About</a></li>
        <li><a class="text-muted" href="#">FAQ</a></li>
        <li><a class="text-muted" href="#">Terms of Service</a></li>
        <li><a class="text-muted" href="#">Privacy Policy</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Our service</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Programs</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Our service</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Soccer</a></li>
        <li><a class="text-muted" href="#">Basketball</a></li>
        <li><a class="text-muted" href="#">Tennis</a></li>
        <li><a class="text-muted" href="#">Cycling</a></li>
      </ul>
    </div>
  </div>
</footer>
